@define-color c_back #000;
@define-color c_front #fff;
@define-color c_high #ccc;
@define-color c_mid #888;
@define-color c_low #222;

* { }
*:disabled { opacity: 0.5; }
*:selected { background: @c_low; }
/*
*:hover { color: @c_front; background: @c_mid; }
*:active { color: @c_back; background: @c_front; }
*/

window { color: @c_front; background: transparent; font-family: "Input Sans Narrow Light", sans; font-size: 17px; }
/*window { background: @c_back; font-family: "Input Sans"; font-size: 17px; font-weight: 300; font-stretch: condensed; }*/
/*.titlebar { color: @c_back; background: @c_front; }*/

label {  }
label.title {  }
label.subtitle {  }
label.dim-label {  }
label selection {  }
label link {  }
label accelerator { color: @c_high; font-style: italic; }

@keyframes spin { to {-gtk-icon-transform: rotate(1turn);} }
spinner { background: none; opacity: 0; -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
spinner:checked { opacity: 1; animation: spin 1s linear infinite; }

statusbar { opacity: 0.7 }

trough { background: @c_low; }

levelbar trough { background: transparent; }
levelbar.vertical trough { min-width: 5px; }
levelbar.horizontal trough { min-height: 5px; }
levelbar block {  background: @c_low; }
levelbar block.filled {  background: @c_front; }
levelbar.vertical block { margin: 4px 0px; }
levelbar.horizontal block { margin: 0px 4px; }
/*
levelbar.discrete block:first-child { margin-left: 0px; margin-top: 0px;}
levelbar.discrete block:last-child { margin-right: 0px; margin-bottom: 0px;}
*/

progressbar text { font-size: 70%; }
progressbar progress { background: @c_front; }
progressbar.vertical trough,
progressbar.vertical progress { min-width: 15px; }
progressbar.horizontal trough,
progressbar.horizontal progress { min-height: 15px; }

infobar {  }
infobar.info {  }
infobar.warning {  }
infobar.error {  }
infobar.question {  }

scrollbar {  }
scrollbar contents {  }
scrollbar trough {  }
scrollbar slider {  }
scrollbar button {  }
junction {  }
/* Other style classes that may be added to scrollbars inside GtkScrolledWindow include the positional classes (.left, .right, .top, .bottom) and style classes related to overlay scrolling (.overlay-indicator, .dragging, .hovering). */

image {}

separator { background: @c_low; opacity: 0.5; }
separator.vertical { min-width: 1px; }
separator.horizontal { min-height: 1px; }

textview { background: @c_low;  }
textview border {}
textview text {}
selection { color: @c_back; background: @c_front; }

scale { min-width: 15px; min-height: 15px; padding: 3px; }
scale.vertical trough { padding: 7px 0px; }
scale.horizontal trough { padding: 0px 7px; }
scale slider { min-width: 15px; min-height: 15px; background: @c_front; margin: -6px; border-radius: 7px; }
scale slider:active { background: @c_high; }
scale highlight { background: @c_high; }
scale.vertical highlight { margin: -7px 0px; }
scale.horizontal highlight { margin: 0px -7px; }
scale fill {  }
scale marks { padding: 5px; }
scale mark { min-width: 1px; }
scale mark indicator { min-height: 3px; min-width: 1px; color: @c_mid; }
scale mark label { font-size: 70%; }
scale value { font-size: 70%; }
scale.fine-tune slider { background: @c_back; border: 2px solid @c_front; min-width: 11px; min-height: 11px; }

button { padding: 0px 5px; }
/*button { color: @c_front; background: @c_back; padding: 2px 5px; }*/
button.text-button {  }
button.image-button {  }
button.flat {  }
button.suggested-action {  }
button.destructive-action {  }
button.circular {  }
button.scale {  }
button.toggle { /*border-bottom: 2px solid @c_low;*/ padding-bottom: 2px; }
button.link {  }
button.popup {  }
button.lock {  }
button.color {  }
button.font {  }
button.file {  }
/*
button:not(:last-child) { margin-right: 0px; }
button:not(:first-child) { margin-left: 0px; }
*/
button:hover { background: @c_low; }
button:checked { border-bottom: 2px solid @c_front; padding-bottom: 0px; }
button:active { background: @c_mid; }

/*
checkbutton, button.check, radiobutton, button.radio { padding: 0px 5px; }
checkbutton:hover, radiobutton:hover { background: @c_low; }
checkbutton:active, radiobutton:active { background: @c_mid; }
*/
check, radio, check:selected, radio:selected { min-width: 10px; min-height: 10px; background: @c_low; padding-left: 2px; padding-top: 2px; -gtk-icon-transform: scale(2); }
checkbutton check, button.check check, radiobutton radio, button.radio radio { margin-right: 6px; }
radio { border-radius: 100%; }
check:checked { background: @c_front; color: @c_back; }
radio:checked { background: @c_front; color: transparent; }
check:hover,  radio:hover { background: @c_mid; }
check:hover:checked, radio:hover:checked { background: @c_high; }
check:active, radio:active { background: @c_high; }
check:active:checked, radio:active:checked { background: @c_mid; }

switch { transition-property: all; transition-duration: 0.1s; }
switch:checked { background: @c_mid; }
switch slider { background: @c_front; }

spinbutton.vertical {  }
spinbutton.vertical entry {  }
spinbutton.vertical button {  }
spinbutton.vertical button.up {  }
spinbutton.vertical button.down {  }
spinbutton.horizontal {  }
spinbutton.horizontal entry {  }
spinbutton.horizontal button {  }
spinbutton.horizontal button.up {  }
spinbutton.horizontal button.down {  }

entry, combobox, button.combo { background: @c_low; padding: 0px 0px; }
combobox box.linked {  }
combobox arrow { }
combobox cellview {  }
button.combo {  }
entry.combo {  }
combobox window.popup {  }

entry image {  }
entry progress {  }
entry progress.pulse {  }
entry window.popup {  }

scrolledwindow {  }
/* GtkScrolledWindow also sets the positional style classes (.left, .right, .top, .bottom) and style classes related to overlay scrolling (.overlay-indicator, .dragging, .hovering) on its scrollbars. */

overshoot { background: none; }
/*
overshoot.top { background-image: -gtk-gradient(radial, center top, 0, center top, 0.5, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))); }
overshoot.bottom { background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.5, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))); }
overshoot.left { background-image: -gtk-gradient(radial, left center, 0, left center, 0.5, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))); }
overshoot.right { background-image: -gtk-gradient(radial, right center, 0, right center, 0.5, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))); }
undershoot.top {}
undershoot.bottom {}
undershoot.left {}
undershoot.right {}
*/

headerbar {  }
headerbar entry {  }
headerbar button {  }
headerbar separator {  }

searchbar {  }

actionbar {  }

list {  }
list row {  }
list row.activatable {  }

flowbox {  }
flowboxchild {  }

rubberband {  }

stack {  }
stackswitcher, .stack-switcher {  }
stackswitcher, .stack-switcher {  }
stacksidebar.sidebar {  }
.needs-attention {  }

treeview {  }
treeview header {  }

iconview {  }

notebook {  }
notebook header {  }
tabs {  }
tabs arrow {  }
tabs tab {  }
tabs tab.reorderable-page {  }
tabs tab.dnd {  }
notebook stack {  }

frame {  }
frame border {  }
frame border.flat {  }

paned {  }
paned separator {  }
paned separator.wide {  }

menubar {  }
menuitem { padding: 2px 4px; }

toolbar {  }
toolpalette {  }

placessidebar.sidebar {  }
placessidebar .sidebar-new-bookmark-row {  }
placessidebar .sidebar-placeholder-row {  }
placessidebar .has-open-popup {  }

assistant {  }
printdialog {  }
